* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
    width:100%;
    height:100%;    
    background: url("./wallpaper.jpg") no-repeat fixed 0 0 transparent; /* Source: http://wallbase.cc/wallpaper/711901 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
	color: #0084b4;
}
h1 {
	margin: 0 0 15px 0;
}
#page {
	margin: auto;
	width: 90%;
	background-color: #fff;
	padding: 15px 20px;
}
#timer {
	float: right;
}
#footer {
	margin-top: 15px;
	text-align: center;
}
.menu {
	margin: 0 0 15px 0;
}
.entry {
	padding: 10px;
	border-right: 1px solid #e8e8e8;
	border-left: 1px solid #999;
	border-top: 1px solid #e8e8e8;	
}
.entry:hover {
	background-color: #F5F5F5;
}
.entry-shaarli {
	color: #000;
	font-weight: bold;
}
.entry-title {
	font-weight: bold;
}
.entry-timestamp {
	font-size: 12px;
	color: #999;
	float: right;
}
.entry-counter {
	padding: 3px 10px;
	margin: 0 5px 0 0;
	float: left;
	background-color: #0084b4;
	color: #fff;
	border-radius: 10px;
}
.unread {
	border-left: 3px solid #0084b4;
}
.two-column {
	width: 50%;
	float: left;
}
.entry-link {
	padding: 5px;
	margin: 1px 2px 1px 0;
	cursor: pointer;
}
.entry-link a {
	text-decoration: none;
}
.entry-link.selected {
	margin: 0;
	border-top: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	border-left: 1px solid #adadad;
	border-radius: 4px;
	background-color: #F5F5F5;
}
.clear {
	clear: both;
}